<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Remi Martel - Portfolio</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--Style-->
    <link rel="stylesheet" href="~/style/main.min.css" />
</head>
<body>
    @await Html.PartialAsync("_Header.cshtml")

    <div class="main">
        <main>
            @RenderBody()
        </main>

        @await Html.PartialAsync("_Footer.cshtml")
    </div>
</body>
</html>
