:root{
    --primary: #0c6f12;
    --primary_highlight: #0da216;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #f27602;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --success: #28a745;
    --light: #f8f9fa;
    --body-color: #212529;
    --thumbnail-borner: #dee2e6;
    --image-border: #c3c3c3;
}

.underline{
    text-decoration: underline !important;
}

.border_image {
    border: 7px solid var(--image-border);
    border-radius: 100%;
}

.semi_transparent_box {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 10px;
    color: var(--white);
    margin-bottom: 20px !important;
}

.parallax{
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

section{
    max-width: 100% !important;
    width: 100%
}

.color-white {
    color: var(--white);
}

@media screen and (min-width: 769px) {
    .show_only_mobile {
        display: none !important;
    }

    .show_only_desktop {
        display: unset !important;
    }

    .desktop_vertical_center {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 768px) {
    .show_only_desktop {
        display: none !important;
    }

    .social-icons {
        margin-bottom: 15px !important;
    }
}
