@* @inject OrchardCore.IOrchardHelper Orchard

@{
    var projects = await Orchard.GetContentItemByHandleAsync("alias:projects");
}

 <section class="resume-section parallax" id="projects" style="background-image: url(@Orchard.AssetUrl((string) projects.Content.Image.Image.Paths[0]));">
    <div class="resume-section-content">
        <h2 class="mb-5">@projects.Content.TitlePart.Title</h2>

        @foreach (var project in projects.Content.BagPart.ContentItems)
        {
            <div class="subheading mb-3">@Html.Raw(project.TitlePart.Title)</div>
        }
    </div>
</section> *@