@inject OrchardCore.IOrchardHelper Orchard

@{
    var alias = "alias:skills-" + Orchard.CultureName();
    var skills = await Orchard.GetContentItemByHandleAsync(alias);
}

 <section class="resume-section parallax" id="skills" style="background-image: url(@Orchard.AssetUrl((string) skills.Content.Image.Image.Paths[0]));">
    <div class="resume-section-content">
        <h2 class="mb-5">@skills.Content.TitlePart.Title</h2>

        @foreach (var category in skills.Content.BagPart.ContentItems)
        {
            <div class="subheading mb-3">@Html.Raw(category.TitlePart.Title)</div>
            <ul class="list-inline dev-icons">
            @foreach (var skill in category.BagPart.ContentItems)
            {
                <li class="list-inline-item">@Html.Raw(skill.HtmlBodyPart.Html)</li>
            }
            </ul>
        }
    </div>
</section>